.react-tabs {
  -webkit-tap-highlight-color: transparent;
  /* text-align: left; */
  margin-top: 10px;
}

.react-tabs__tab-list {
  /* border-bottom: 5px solid #ebb328; */
  margin: 0 0 auto;
  padding: 0;
  /* padding-right: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: table;
  table-layout: fixed;
  text-align: center; */
}

.react-tabs__tab {
  z-index: 100;
  background: rgba(255, 255, 255, 0.6);
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 0 0;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-rows: auto; */
  /* grid-template-columns: [left] 4rem [right] 1fr; */
  /* width: 33.3%; */
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 30px;
}

.react-tabs__tab--selected {
  background: rgba(255, 255, 255, 1);
  border: 0.5px solid rgba(255, 255, 255, 1);
  color: hsl(208, 99%, 50%);
  border-radius: 10px 10px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 30px 60px rgba(23, 0, 102, 0.5),
    inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.5);
  transform: translateY(-3px);
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  /* background: #fff; */
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
